<h1>IFR</h1>

<label>Valor investido<input class="form-control" ng-model="valor_investido"></label>
<table class="table table-bordered"> 
  <thead> 
    <tr>
      <th>Compra</th> 
      <th>Fechamento</th> 
      <th>Lotes</th> 
      <th>R$ Gastos</th> 
      <th>R$ Disponível</th> 
      <th>Venda</th> 
      <th>Fechamento</th> 
      <th>Lotes</th> 
      <th>Vendido</th> 
      <th>Realizado</th> 
      <th>Saldo</th> 
      <th>% Lucro</th> 
    </tr> 
  </thead> 
  <tbody> 
    <tr ng-repeat="acao in acoes_simuladas"> 
      <td  class="active">{{acao.trade.compra.data_pregao | date:'dd/MM/yyyy' }}</td>
      <td class="active">{{acao.trade.compra.fechamento | currency:NUMBER_FORMATS.CURRENCY_SYM }}</td>
      <td class="active">{{ calcularLotes(valor_investido, acao.trade.compra.fechamento) }}</td>
      <td class="active">{{ calcularLotes(valor_investido, acao.trade.compra.fechamento) * acao.trade.compra.fechamento | currency:NUMBER_FORMATS.CURRENCY_SYM }}</td>
      <td class="active">{{ valor_investido - (calcularLotes(valor_investido, acao.trade.compra.fechamento) * acao.trade.compra.fechamento) | currency:NUMBER_FORMATS.CURRENCY_SYM }}</td>
      <td  class="danger">{{acao.trade.venda.data_pregao | date:'dd/MM/yyyy' }}</td>
      <td class="active">{{acao.trade.venda.fechamento | currency:NUMBER_FORMATS.CURRENCY_SYM }}</td>
      <td class="active">{{ calcularLotes(valor_investido, acao.trade.venda.fechamento) }}</td>
      <td class="active">{{ calcularLotes(valor_investido, acao.trade.venda.fechamento) * acao.trade.venda.fechamento | currency:NUMBER_FORMATS.CURRENCY_SYM }}</td>
      <td class="info">{{(calcularLotes(valor_investido, acao.trade.venda.fechamento) * acao.trade.venda.fechamento) - (calcularLotes(valor_investido, acao.trade.compra.fechamento) * acao.trade.compra.fechamento) | currency:NUMBER_FORMATS.CURRENCY_SYM }}</td>
      <td class="info">{{  }}</td>
      <td class="info">0%</td>
    </tr>
  </tbody> 
</table>

