<h1>IFR - {{cod_ativo_selecionado.cod_ativo}}</h1>


<label>Selecione a ação: 
    <select ng-change="simularAtivo(cod_ativo_selecionado)" ng-options="item as item.cod_ativo for item in lista_codigos_ativos track by item.cod_ativo" ng-model="cod_ativo_selecionado">
    </select>
</label>

<table class="table table-bordered"> 
  <thead> 
    <tr>
      <th>Compra</th> 
      <th>Fechamento</th> 
      <th>Lotes</th> 
      <th>Investido</th> 
      <th>Disponível</th> 
      <th>Venda</th> 
      <th>Fechamento</th> 
      <th>Lotes</th> 
      <th>Recuperado</th> 
      <th>Realizado</th> 
      <th>Saldo</th> 
      <th>Rentabilidade</th> 
    </tr> 
  </thead> 
  <tbody> 

    <tr ng-repeat="acao in acoes_simuladas | orderBy : '-cotacao_compra.data_pregao'"> 
        
      <td  class="active">{{acao.cotacao_compra.data_pregao | date:'dd/MM/yyyy' }}</td>
      <td class="active">{{acao.cotacao_compra.fechamento | currency:NUMBER_FORMATS.CURRENCY_SYM }}</td>
      <td class="active">{{ acao.lotes_comprados }}</td>
      <td class="active">{{ acao.investido | currency:NUMBER_FORMATS.CURRENCY_SYM }}</td>
      <td class="active">{{ acao.carteira.saldo - acao.investido | currency:NUMBER_FORMATS.CURRENCY_SYM }}</td>
      
      <td  class="danger">{{acao.cotacao_venda.data_pregao | date:'dd/MM/yyyy' }}</td>
      <td class="danger">{{ acao.cotacao_venda.fechamento | currency:NUMBER_FORMATS.CURRENCY_SYM }}</td>
      <td class="danger">{{ acao.lotes_vendidos }}</td>
      <td class="danger">{{ acao.retorno | currency:NUMBER_FORMATS.CURRENCY_SYM }}</td>

      <td class="info">{{ acao.realizado | currency:NUMBER_FORMATS.CURRENCY_SYM }}</td>
      <td class="info">{{ acao.carteira.saldo | currency:NUMBER_FORMATS.CURRENCY_SYM }}</td>
      <td class="info">{{ acao.rentabilidade | number:2 }}%</td>
      
    </tr>
  </tbody> 
</table>

